button.css-1q8dd3e.edgvbvh9 {
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #000000 5%, #7f8a77 100%);
	background-color:#000000;
	border-radius:37px;
	border:3px solid #e4f7e6;
	display:inline-block;
	cursor:pointer;
	color:#d40000;
	font-family:Arial;
	font-size:21px;
	font-weight:bold;
	padding:20px 55px;
	text-decoration:none;
	text-shadow:0px 0px 0px #662828;
}
button.css-1q8dd3e.edgvbvh9:hover {
	background:linear-gradient(to bottom, #7f8a77 5%, #000000 100%);
	background-color:#7f8a77;
}
button.css-1q8dd3e.edgvbvh9:active {
	position:relative;
	top:1px;
}

button.css-wq85zr.edgvbvh5 {
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #000000 5%, #7f8a77 100%);
	background-color:#000000;
	border-radius:8px;
	border:2px solid #e4f7e6;
	display:inline-block;
	cursor:pointer;
	color:#d40000;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:11px 30px;
	text-decoration:none;
	text-shadow:0px 0px 0px #662828;
}
button.css-wq85zr.edgvbvh5:hover {
	background:linear-gradient(to bottom, #7f8a77 5%, #000000 100%);
	background-color:#7f8a77;
}
button.css-wq85zr.edgvbvh5:active {
	position:relative;
	top:1px;
}


